<template name="chatGroup" is="auto-binding">
    <div class="row lesspadd">
        <div class="col s12 lesspadd full-height">
            {{> chat_form}}
        </div>
    </div>
</template> 

<template name="chat_form">
    <div id="chapp_wrapper" layout vertical fit>
        <div id="chapp_text" flex>
            {{#each chapp}}
                {{> chat_item}}
            {{/each}}
        </div>
        <div class="shim"></div>
        <form id="chapp-form" layout horizontal>
            <div flex>
                <paper-input-decorator floatingLabel label="Message">
                    <input id="chapp-input" type="text" />
                </paper-input-decorator>
            </div>
            <paper-fab id="fake" icon="send"></paper-fab>
        </form>
    </div>
</template>

<template name="chat_item">
    <div class="chat-message">
        <section class="user-list" layout horizontal>
            <div class="avatar {{color}}" style="background-image: url(http://www.gravatar.com/avatar/{{users}});"></div>
            <div flex>
                <div class="username">{{chatUserName}}</div>
                <div class="text">{{chatText}}</div>
            </div>
            <time class="timestamp" is="relative-time" datetime="{{formatISODate chatDate}}" title="{{formatFullDate chatDate}}">{{formatDate chatDate}}</time>
        </section>
    </div>
</template>
