<template name="createGroup">
<paper-tabs selected="0" horizontal center layout>
		<paper-tab id="tabFirst" page="tab1" inline flex center-center horizontal layout>
			Créer groupe
		</paper-tab>
		<paper-tab id="tabSecond" page="tab2" inline flex center-center horizontal layout>
			Mes groupes
		</paper-tab>
		<paper-tab id="tabThird" page="tab3" inline flex center-center horizontal layout>
			Invitation(s)
		</paper-tab>
	</paper-tabs>
	<div class="row">
	    <div class="col s12">
			<core-pages valueattr="label" selected="{{currentTab}}">
				<div label="tab1">
		<form class="main form page">

        <div class="form-group">
            <div class="controls">
            	<paper-input-decorator floatingLabel label="Nom du groupe">
                	  <input name="namegroupe" id="idGroupe" type="text"  placeholder="Nom du groupe" />
                 </paper-input-decorator>
            </div>
        </div>


         {{> esInput index="usersgroup" id="friendSearch" placeholder="Rechercher des amis à ajouter..." }}
     
	        {{#esEach index="usersgroup" id="friendSearch"}}
		 		{{#each friendsList}}
		 		{{#if searchMatch friendIs}}
	    			<p>{{friendIs}}<paper-button primary raised class="greenButton createGroup" user-id="{{ID}}"> <i class="fa fa-plus-circle"></i></paper-button></p>
	    		{{/if}}
	    		{{/each}}
			{{/esEach}}

		    {{> esLoadMoreButton index="usersgroup"}}
		    
		    {{#ifEsHasNoResults index="usersgroup" id="friendSearch"}}
		        <div class="no-results">Désolé, nous n'avons pas pu trouver votre ami ... :(</div>
		    {{/ifEsHasNoResults}}

		    {{#ifEsIsSearching index="usersgroup" id="friendSearch"}}
	            <div>{{> loading}}</div>
		    {{/ifEsIsSearching}}
		<hr>
 		<paper-button id="createGroupButton" primary raised>Submit</paper-button>
 		</form>
				</div>
				<div label="tab2">
					{{#each GroupList}}
					<p>Actuellement {{Statut}} dans le groupe {{nomDuGroupe}} avec : {{firstMember}},
					{{#each FriendsGroupList}}<small>
					{{username}}
					</small> {{/each}}<a href="{{pathFor 'postsGroup'}}"><paper-button primary raised class="greenButton seeBlog">BLOG</paper-button></a> 
					 <paper-icon-button icon="create" class="bouton_blog editGroup" {{isAdmin}}></paper-icon-button>
					 <paper-icon-button icon="add" class="bouton_blog addMember"></paper-icon-button>
					 <paper-icon-button icon="close" class="bouton_blog removeGroup" {{isAdmin}}></paper-icon-button>
					 <paper-icon-button icon="exit-to-app" class="bouton_blog exitGroup" {{isNotAdmin}}></paper-icon-button></p> 
					{{/each}}

					<div id="editGroup-container">
					

			        <div class="form-group">
			            <div class="controls">
						<paper-input-decorator floatingLabel label="Modifier le nom du groupe">
	                	  <input name="namegroupe" id="idNewGroupe" type="text"  placeholder="Modifier le nom du groupe" />

	                 	</paper-input-decorator>
	                 	
	                 	 <paper-icon-button icon="check" class="bouton_blog changeNameGroup"></paper-icon-button>
	                 
	                 	</div>
	                 </div>
	                 
					</div>
					<div id="addMember-container">


				         {{> esInput index="addmorefriends" id="addfriendSearch" placeholder="Rechercher des amis à ajouter..." }}
				     		
					        {{#esEach index="addmorefriends" id="addfriendSearch"}}
						 		{{#each friendsList}}
						 		{{#if searchMatch2 friendIs}}
						 			
					    			<p>{{friendIs}}<paper-icon-button icon="check" class="bouton_blog" id="addFriendToGroup" user-id="{{ID}}"> </paper-icon-button></p>
						 			
					    		{{/if}}
					    		{{/each}}
							{{/esEach}}

						    {{> esLoadMoreButton index="addmorefriends"}}
						    
						    {{#ifEsHasNoResults index="addmorefriends" id="addfriendSearch"}}
						        <div class="no-results">Désolé, nous n'avons pas pu trouver votre ami ... :(</div>
						    {{/ifEsHasNoResults}}

						    {{#ifEsIsSearching index="addmorefriends" id="addfriendSearch"}}
					            <div>{{> loading}}</div>
						    {{/ifEsIsSearching}}

					</div>

				</div>
				<div label="tab3">
					{{#each QueryGroupList}}
					<p>{{Admin}}, vous a invité à rejoindre le groupe {{nomDuGroupe}} <paper-button primary raised class="greenButton joinGroup"> <i class="fa fa-check"></i></paper-button> </p> 
					{{/each}}
				</div>
			</core-pages>
		</div>
	</div>
 

</template>