<template name="createGroup">
<paper-tabs selected="0" horizontal center layout>
		<paper-tab id="tabFirst" page="tab1" inline flex center-center horizontal layout>
			Créer groupe
		</paper-tab>
		<paper-tab id="tabSecond" page="tab2" inline flex center-center horizontal layout>
			Mes groupes
		</paper-tab>
		<paper-tab id="tabThird" page="tab3" inline flex center-center horizontal layout>
			Requetes {{queryGroupCounter}}
		</paper-tab>
	</paper-tabs>
	<div class="row">
	    <div class="col s12">
			<core-pages valueattr="label" selected="{{currentTab}}">
				<div label="tab1">
		<form class="main form page">

        <div class="form-group">
            <div class="controls">
            	<paper-input-decorator floatingLabel label="Nom du groupe">
                	  <input name="namegroupe" id="idGroupe" class="nomGroupe" type="text"  placeholder="Nom du groupe" />
                 </paper-input-decorator>
            </div>
        </div>


         {{> esInput index="usersgroup" id="friendSearch" placeholder="Rechercher des amis à ajouter..." }}
     
	        {{#esEach index="usersgroup" id="friendSearch"}}
		 		{{#each friendsList}}
		 		{{#if searchMatch friendIs}}
		 			<div class="col s12 m8 offset-m2 l6 offset-l3 container-grouplist">
				        <div class="card-panel grey lighten-5 z-depth-1">
				          <div class="row valign-wrapper">
				            <div class="col s2">
				              <core-icon icon="social:person"></core-icon>
				            </div>
				            <div class="col s10">
				              <span class="black-text">
				              <p class="friendName">{{friendIs}}</p>	
				              </span>
				            </div>

				            <div class="col s2">

				            	<paper-icon-button icon="add" class="createGroup" user-id="{{ID}}"></paper-icon-button>

				            </div>

				          </div>
				        </div>
				    </div>
	    			
	    		{{/if}}
	    		{{/each}}
			{{/esEach}}

		    {{> esLoadMoreButton index="usersgroup"}}
		    
		    {{#ifEsHasNoResults index="usersgroup" id="friendSearch"}}
		        <div class="no-results">Désolé, nous n'avons pas pu trouver votre ami ... :(</div>
		    {{/ifEsHasNoResults}}

		    {{#ifEsIsSearching index="usersgroup" id="friendSearch"}}
	            <div>{{> loading}}</div>
		    {{/ifEsIsSearching}}
		<hr>
 		<paper-button id="createGroupButton" primary raised>Submit</paper-button>
 		</form>
				</div>
				<div label="tab2">
					 {{#each GroupList}}
					
					<div class="col s12 m8 offset-m2 l6 offset-l3 container-grouplist">
				        <div class="card-panel grey lighten-5 z-depth-1">
				          <div class="row valign-wrapper">
				            <div class="col s2">
				              <core-icon icon="social:people"></core-icon>
				            </div>
				            <div class="col s4">
				              <span class="black-text">
				              {{nomDuGroupe}}<br>
				              <small>{{nombreDeMembre}} membre{{pluriel}}</small>	
				              </span>
				            </div>

				            <div class="col s7">

				            	<paper-icon-button icon="dashboard" iconSize="11" class="seeBlog"></paper-icon-button> 
					 			<paper-icon-button icon="create" id="edG" class="editGroup" {{isAdmin}}></paper-icon-button>
					 			<paper-icon-button icon="add" id="aM" class="addMember"></paper-icon-button>
					 			<paper-icon-button icon="close" id="rG" class="removeGroup" {{isAdmin}}></paper-icon-button>
								 <paper-icon-button icon="exit-to-app" id="eG" class="exitGroup" {{isNotAdmin}}></paper-icon-button>

				            </div>

				          </div>
				          <div id="editGroup-container" class="eG-C">
					

						        <div class="form-group">
						            <div class="controls">
									<paper-input-decorator floatingLabel label="Modifier le nom du groupe" class="inline-button">
				                	  <input name="namegroupe" id="idNewGroupe" type="text"  placeholder="Modifier le nom du groupe" />

				                 	</paper-input-decorator>
				                 	
				                 	 <paper-icon-button icon="check" class="changeNameGroup"></paper-icon-button>
				                 
				                 	</div>
				                 </div>
	                 
					</div>
					<div id="addMember-container" class="aM-C">


				         {{> esInput index="addmorefriends" id="addfriendSearch" placeholder="Rechercher des amis à ajouter..." }}
				     		
					        {{#esEach index="addmorefriends" id="addfriendSearch"}}
						 		{{#each friendsList}}
						 		{{#if searchMatch2 friendIs}}
						 		

					    			<div class="col s12 m8 offset-m2 l6 offset-l3 container-grouplist">
							        <div class="card-panel grey lighten-5 z-depth-1">
							          <div class="row valign-wrapper">
							            <div class="col s2">
							              <core-icon icon="social:person"></core-icon>
							            </div>
							            <div class="col s10">
							              <span class="black-text">
							              <p class="friendName">{{friendIs}}</p>	
							              </span>
							            </div>

							            <div class="col s2">

							            	<paper-icon-button icon="add" id="addFriendToGroup" user-id="{{ID}}"></paper-icon-button>

							            </div>

							          </div>
							        </div>
				   					</div>
						 			
					    		{{/if}}
					    		{{/each}}
							{{/esEach}}

						    {{> esLoadMoreButton index="addmorefriends"}}
						    
						    {{#ifEsHasNoResults index="addmorefriends" id="addfriendSearch"}}
						        <div class="no-results">Désolé, nous n'avons pas pu trouver votre ami ... :(</div>
						    {{/ifEsHasNoResults}}

						    {{#ifEsIsSearching index="addmorefriends" id="addfriendSearch"}}
					            <div>{{> loading}}</div>
						    {{/ifEsIsSearching}}

					</div> 
				        </div>

				    </div>

            		{{/each}}

				</div>
				<div label="tab3">
					{{#each QueryGroupList}}
					<div class="col s12 m8 offset-m2 l6 offset-l3 container-grouplist">
				        <div class="card-panel grey lighten-5 z-depth-1">
				          <div class="row valign-wrapper">
				            <div class="col s2">
				              <core-icon icon="social:plus-one"></core-icon>
				            </div>
				            <div class="col s10">
				              <span class="black-text">
				              <p class="friendName">{{Admin}},</p><small>vous a invité à rejoindre le groupe <span class="groupName">&ldquo; {{nomDuGroupe}} &rdquo;</span></small>
				              </span>
				            </div>

				            <div class="col s2">

				            	<paper-icon-button icon="check" class="joinGroup" user-id="{{_id}}"></paper-icon-button>

				            </div>

				          </div>
				        </div>
				    </div> 
					{{/each}}



					{{#each QueryGroupListAsk}}
						
					
					<div class="col s12 m8 offset-m2 l6 offset-l3 container-grouplist">
				        <div class="card-panel grey lighten-5 z-depth-1">
				          <div class="row valign-wrapper">
				            <div class="col s2">
				              <core-icon icon="social:plus-one"></core-icon>
				            </div>
				            <div class="col s10">
				              <span class="black-text">
				              <p class="friendName">{{#each utilisateur}}{{username}}{{/each}},</p><small>vous demande s'il peut rejoindre votre groupe</small>
				              </span>
				            </div>

				            <div class="col s2">

				            	<paper-icon-button icon="check" class="joinGroupAsk" user-id="{{_id}}"></paper-icon-button>

				            </div>

				          </div>
				        </div>
				    </div> 
					{{/each}}
				</div>
			</core-pages>
		</div>
	</div>
 

</template>