<template name="loadMoreButton">
    {{#if hasMoreResults}}
    	<button style="display: none;"></button>
    	<div class="col s12 m8 offset-m2 l6 offset-l3">
    		<paper-button raised class="greenButton loadMore" id="btnLoadMore">Afficher plus</paper-button>
    	</div>
    {{/if}}
</template>

<template name="searchInput">
	<paper-input-decorator label="{{placeholder}}">
    	<input type="{{type}}" id="{{id}}" placeholder="{{placeholder}}" class="{{class}}" />
	</paper-input-decorator>
</template>
