<template name="searchFriends">


<div class="row">
    <form class="col s12">
     
        
          
          {{> esInput index="users" placeholder="Search..." }}

		    
		        {{#esEach index="users"}}
		            <div class="col s12 m8 offset-m2 l6 offset-l3">
			        <div class="card-panel grey lighten-5 z-depth-1">
			          <div class="row valign-wrapper">
			            <div class="col s2">
			              <img src="http://www.gravatar.com/avatar/{{encryptedMail}}" alt="" class="circle responsive-img"> <!-- notice the "circle" class -->
			            </div>
			            <div class="col s6">
			              <span class="black-text">
			              <p class="search_content_username"> {{username}} <br></p>
			              <p class="search_content_level"> Niveau {{level}} </p>
			              </span>
			            </div>
			             <div class="col s4">
			              	
   						 <a class="waves-effect waves-light btn" id="addFriend" user-id="{{_id}}">ADD</a>
  							
			            </div>
			          </div>
			        </div>
			      </div>	 
		        {{/esEach}}
		    

		    {{> esLoadMoreButton index="users"}}
		    
		    {{#ifEsHasNoResults index="users"}}
		        <div class="no-results">No results found!</div>
		    {{/ifEsHasNoResults}}

		    {{#ifEsIsSearching index="users"}}
		            <div>{{> loading}}</div>
		    {{/ifEsIsSearching}}
         
        
      
    </form>
  </div>


</template>