<template name="searchFriends">
	<div class="row">
	    <div class="col s12">
	        {{> esInput index="users" id="friendSearch" placeholder="Rechercher votre ami..." }}
	          <p>
			{{#if results}}
	    		{{results}} résultat{{pluralize}}
	    	{{/if}}
	    	</p>

	        {{#esEach index="users" id="friendSearch"}}
		  	    	{{#if ifSelf}} 
	
			  <ul class="collection">
			    <li class="collection-item avatar">
			      <img src="http://www.gravatar.com/avatar/{{encryptedMail}}" alt="" class="circle">
			      <span class="title">{{username}}</span>
			      <p><span class="sub_text">Niveau {{level}}</span><br>
			         <span class="sub_text">HCP {{handicape}}</span>
			      </p>
			      <a class="secondary-content"><paper-icon-button icon="add" class="addFriend" user-id="{{_id}}" {{ifNotFriend}}></paper-icon-button></a>
			    </li>
			  </ul>
			       
			{{/if}}
			{{/esEach}}

		    {{> esLoadMoreButton index="users"}}
		    
		    {{#ifEsHasNoResults index="users" id="friendSearch"}}
		        <div>{{> resultsNotFound}}</div>
		    {{/ifEsHasNoResults}}

		    {{#ifEsIsSearching index="users" id="friendSearch"}}
	            <div>{{> loading}}</div>
		    {{/ifEsIsSearching}}
	    </div>
	</div>
</template>