<template name="searchFriends">
	<div class="row">
	    <div class="col s12">
	        {{> esInput index="users" id="friendSearch" placeholder="Search..." }}
	        {{#esEach index="users" id="friendSearch"}}
		    <p>
			{{#if results}}
	    		{{results}} résultat{{pluralize}}
	    	{{/if}}
	    	</p>
			<div class="row">	
			<div class="card col s12">
					<div class="col s4">
						<div class="card-image">
							<img src="http://www.gravatar.com/avatar/{{encryptedMail}}" alt="" class="circle responsive-img">
							<span class="card-title">Label 1</span>
						</div>
					</div>
					<div class="col s8">
						<div class="col s12">
								<h4>{{username}}</h4>
								<div class="col s6">
									<p>HCP : 36,5</p>
								</div>
								<div class="col s6 align-droite">
									<p>Niveau {{level}}</p>
								</div>				
							
						</div>
						<div class="col s12">
							<div class="card-action">
								<div class="col s6 offset-s6  align-droite">
									<p><a class="waves-effect waves-light btn {{#if ifNotFriend}} disabled{{/if}}" id="addFriend" user-id="{{_id}}">Ajouter</a></p>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
				
			{{/esEach}}

		    {{> esLoadMoreButton index="users"}}
		    
		    {{#ifEsHasNoResults index="users" id="friendSearch"}}
		        <div class="no-results">Désolé, nous n'avons pas pu trouver votre ami ... :(</div>
		    {{/ifEsHasNoResults}}

		    {{#ifEsIsSearching index="users" id="friendSearch"}}
	            <div>{{> loading}}</div>
		    {{/ifEsIsSearching}}
	    </div>
	</div>
</template>