<template name="ProfileForm">
    <form class="main form page">
        <div class="form-group">
            <div class="controls">
                <paper-input-decorator floatingLabel label="Username">
                    <input name="username" id="username" type="text" value="{{username}}"/>
                </paper-input-decorator>
            </div>
        </div>
        <div class="form-group">
            <div class="controls">
                <paper-input-decorator floatingLabel label="First Name">
                    <input name="fname" id="fname" type="text" value="" placeholder="Your First Name"/>
                </paper-input-decorator>
            </div>
        </div>
        <div class="form-group">
            <div class="controls">
                <paper-input-decorator floatingLabel label="Last Name">
                    <input name="lname" id="lname" type="text" value="" placeholder="Your Last Name"/>
                </paper-input-decorator>
            </div>
        </div>

        <paper-button primary raised>Submit</paper-button>
    </form>
</template>
