<template name="header_menu">
	<div class="row" align="center">
		<a class="link_menu" href="{{pathFor 'userProfil'}}">
			<div class="left_header_panel">
				<img class="circle responsive-img avatar"  src="http://www.gravatar.com/avatar/{{encrypted_mail}}" /> 
			</div>
			
			<p style="font-style:italic;font-size:13px;"> <i class="fa fa-key" style="margin-right:5px;"></i>connecté en tant que {{statut}}</p>
			<p style="font-size:25px;text-transform: lowercase;">{{username}}</p>
			<p style="font-size:35px;padding-bottom:20px;"><span style="font-size:25px;"><i class="fa fa-level-up"></i></span>{{level}}</p>
		</a>
	</div>
</template>
