<template name="menu">
	<core-submenu id="core_submenu" icon="loyalty" label="Favoris">
		<core-item id="core_item1" icon="favorite-outline" label="Ajouter un Favoris" horizontal center layout></core-item>
		<core-item id="core_item2" icon="favorite-outline" label="Liens Favoris 1" horizontal center layout></core-item>
	</core-submenu>
	<core-submenu id="core_submenu1" icon="face" label="Mon Réséau">
		<a class="link_menu" href="{{pathFor 'userProfil'}}">
			<core-item id="core_item4" icon="perm-identity" label="Profil" horizontal center layout></core-item>
		</a>
		<a class="link_menu" href="{{pathFor 'postsList'}}">
			<core-item id="core_item5" icon="dashboard" label="Fil D'actualités" horizontal center layout></core-item>
		</a>
		<core-item id="core_item7" icon="supervisor-account" label="Amis" horizontal center layout></core-item>
		<core-item id="core_item8" icon="exit-to-app" label="Photos / Video" horizontal center layout></core-item>
		<core-item id="core_item9" icon="today" label="Evenements" horizontal center layout></core-item>
	</core-submenu>
	<core-submenu id="core_submenu" icon="language" label="Explorer">
		<a class="link_menu" href="{{pathFor 'golfSearch'}}">
			<core-item id="core_item3" icon="explore" label="Carte des Golfs" horizontal center layout></core-item>
		</a>
		<a class="link_menu" href="{{pathFor 'search_friends'}}">
			<core-item id="core_item10" icon="search" label="Retrouver des amis" horizontal center layout></core-item>
		</a>
	</core-submenu>
	<core-submenu id="core_submenu" icon="favorite" label="Autres">
		<core-item id="core_item15" icon="backup" label="Paramètres" horizontal center layout></core-item>
		<core-item id="core_item17" icon="bug-report" label="Signaler un Bug" horizontal center layout></core-item>
		<core-item id="core_item18" icon="favorite-outline" label="Aide / Tuto" horizontal center layout></core-item>
		<a class="link_menu" href="{{pathFor 'logout'}}">
			<core-item id="core_item19" icon="exit-to-app" label="Déconnexion" horizontal center layout></core-item>
		</a>
	</core-submenu>
</template>
