<template name="menu">
	<core-submenu icon="loyalty" label="Groupe(s)">
		<a class="link_menu" href="{{pathFor 'createGroup'}}">
			<core-item icon="social:group" label="Centre de gestion {{queryGroupCounter}}" horizontal center layout></core-item>
		</a>
		<a class="link_menu" href="{{pathFor 'joinGroup'}}">
			<core-item icon="input" label="Rejoindre un groupe" horizontal center layout></core-item>
		</a>

		{{#each chatList}}
			<a class="link_menu" href="{{pathFor 'chatGroup'}}">
				<core-item icon="group-work" label="{{nomDuGroupe}}" horizontal center layout></core-item>
			</a>
		{{/each}}
 	</core-submenu>
	<core-submenu icon="av:games" label="Partie">
		<a class="link_menu" href="{{pathFor 'gamesList'}}">
			<core-item icon="star" label="Jouer" horizontal center layout></core-item>
		</a>
		<a class="link_menu" href="#">
			<core-item icon="history" label="Historique" horizontal center layout></core-item>
		</a>
	</core-submenu>
	<core-submenu id="core_submenu1" icon="face" label="Mon Réseau">
		<a class="link_menu" href="{{pathFor 'userProfil'}}">
			<core-item icon="perm-identity" label="Profil" horizontal center layout></core-item>
		</a>
		<a class="link_menu" href="{{pathFor 'postsList'}}">
			<core-item icon="dashboard" label="Fil D'actualités" horizontal center layout></core-item>
		</a>
		<a class="link_menu" href="{{pathFor 'showFriends'}}">
			<core-item icon="supervisor-account" label="Amis {{queryFriendCounter}}" horizontal center layout></core-item>
		</a>
		<a class="link_menu" href="{{pathFor 'gallery'}}"><core-item icon="exit-to-app" label="Photos / Video" horizontal center layout></core-item></a>
		<a class="link_menu" href="{{pathFor 'events'}}"><core-item id="core_item9" icon="today" label="Evenements" horizontal center layout></core-item></a>
	</core-submenu>
	<core-submenu id="core_submenu2" icon="language" label="Explorer">
		<a class="link_menu" href="{{pathFor 'golfSearch'}}">
			<core-item icon="explore" label="Carte des Golfs" horizontal center layout></core-item>
		</a>
		<a class="link_menu" href="{{pathFor 'search_friends'}}">
			<core-item icon="social:person-add" label="Retrouver des amis" horizontal center layout></core-item>
		</a>
	</core-submenu>
	<core-submenu id="core_submenu3" icon="favorite" label="Autres">
		<a class="link_menu" href="{{pathFor 'settings'}}">
			<core-item icon="backup" label="Paramètres" horizontal center layout></core-item>
		</a>
		<a class="link_menu" href="{{pathFor 'contacts'}}">
			<core-item icon="bug-report" label="Signaler un Bug" horizontal center layout></core-item>
		</a>
		<core-item icon="favorite-outline" label="Aide / Tuto" horizontal center layout></core-item>
		<a class="link_menu" href="{{pathFor 'logout'}}">
			<core-item icon="social:person-outline" label="Déconnexion" horizontal center layout></core-item>
		</a>
	</core-submenu>
</template>
