




<template name="loginButtons">
<a href="{{pathFor 'connexion'}}" class="btn btn-primary btn-lg active" role="button">Connexion</a>
<a href="{{pathFor 'inscription'}}" class="btn btn-default btn-lg active" role="button">Inscription</a>
</template>

<template name="headerloginForm">
   <div class="toolbar"> 
		    <core-toolbar id="core_toolbar" class="small-tall">
		      <a class="link_menu" href="{{pathFor 'login'}}"><core-icon-button icon="arrow-back" id="core_icon_button" horizontal layout></core-icon-button></a>
		       <span flex>Inscription</span>
		    </core-toolbar>
	</div> 
</template>

<template name="inscription">


	{{> headerloginForm}}	
	<div class="formContainer">
		
    	<div class="form"> 
   			 {{> subscribeForm}}
   		</div>
   </div>
  


</template>

<template name="connexion">


	{{> headerloginForm}}	
	<div class="formContainer">

    	<div class="form"> 
   			 {{> connexionForm}}
 	 	</div>
   </div>
  


</template>