<template name="loginButtons">
	 <style>    
    
      #paper_button {
       
 
        border-radius: 5px;
        font-family: arial;
        color: white;
        background: -webkit-gradient(linear, 0% 0%, 0% 100%, color-stop(0.05, rgb(67, 160, 72)), to(rgb(46, 99, 18)));
      }
      #paper_button:active {
        position: relative;
        top: 1px;
      }
    </style>
    <a href="{{pathFor 'login'}}"><paper-button id="paper_button" noink vertical layout center-justified>Connexion</paper-button></a><br>
    <a href="{{pathFor 'register'}}"><paper-button id="paper_button" noink vertical layout center-justified>Inscription</paper-button></a>
	
</template>

<template name="headerloginForm">
   <div class="toolbar"> 
	    <core-toolbar id="core_toolbar" class="small-tall">
	    	<a class="link_menu" href="{{pathFor 'index'}}">
	    		<core-icon-button icon="arrow-back" id="core_icon_button" horizontal layout></core-icon-button>
	    	</a>
	       <span flex>{{title}}</span>
	    </core-toolbar>
	</div> 
</template>

<template name="register">
	{{> headerloginForm}}	
	<div class="formContainer">
    	<div class="form"> 
   			{{> atForm state='signUp'}}
   		</div>
   </div>
</template>

<template name="login">
	{{> headerloginForm}}	
	<div class="formContainer">
    	<div class="form"> 
   			{{> atForm state='signIn'}}
 	 	</div>
   </div>
</template>

<template name='forgotPassword'>
	{{> headerloginForm}}	
	<div class="formContainer">
		<div class="form">
 			{{> atForm state='forgotPwd'}}
		</div>
	</div>
</template>
