




<template name="loginButtons">
<a href="{{pathFor 'connexion'}}" class="btn btn-primary btn-lg active" role="button">Connexion</a><br>
<a href="{{pathFor 'inscription'}}" class="btn btn-default btn-lg active" role="button">Inscription</a>
</template>

<template name="headerloginForm">
   <div class="toolbar"> 
		    <core-toolbar id="core_toolbar" class="small-tall">
		      <a class="link_menu" href="{{pathFor 'login'}}"><core-icon-button icon="arrow-back" id="core_icon_button" horizontal layout></core-icon-button></a>
		       <span flex>Inscription</span>
		    </core-toolbar>
	</div> 
</template>

<template name="inscription">


	{{> headerloginForm}}	
	<div class="formContainer">
    <div class="form"> 
	    <section id="section" vertical layout>
	      <paper-input label="Choisir un pseudo" floatinglabel id="pseudo"></paper-input>
	      <paper-input label="Choisir un mot de passe" floatinglabel id="mdp"></paper-input>
	      <paper-input label="Confirmer ce mot de passe" floatinglabel id="conf_mdp"></paper-input>
	      <paper-input label="Indiquer une adresse e-mail" floatinglabel id="email"></paper-input>
	      <section id="section1" horizontal layout center around-justified>
	        <paper-fab icon="done" mini id="paper_fab"></paper-fab>
	        <paper-fab icon="cancel" mini id="paper_fab1"></paper-fab>
	      </section>
	    </section>
   </div>
   </div>
  


</template>

<template name="connexion">


	{{> headerloginForm}}	
	<div class="formContainer">
    <div class="form"> 
	    <section id="section" vertical layout>
	      <paper-input label="Entrer votre adresse e-mail" floatinglabel id="email"></paper-input>
	 
	      <paper-input label="Entrer votre mot de passe" floatinglabel id="mdp"></paper-input>
	      <section id="section1" horizontal layout center around-justified>
	        <paper-fab icon="done" mini id="paper_fab"></paper-fab>
	        <paper-fab icon="cancel" mini id="paper_fab1"></paper-fab>
	      </section>
	    </section>
   </div>
   </div>
  


</template>