<template name="index">
	<div class="login-block" style="margin: 0 auto; width : 100%; height: 100%;max-width: 100%;">
		{{> slider_connexion}}
	</div>
</template>

<template name="slider_connexion">
  
			
			
	       <div id="myCarousel" class="carousel slide">
	       		<div class="test">
			 		{{> loginButtons}}
			 	</div>
			    <ol class="carousel-indicators">
			    <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
			    <li data-target="#myCarousel" data-slide-to="1"></li>
			    <li data-target="#myCarousel" data-slide-to="2"></li>
			    <li data-target="#myCarousel" data-slide-to="3"></li>
			    </ol>
			    <!-- Carousel items -->
			    <div class="carousel-inner">
				    <div class="active item">
				    	<img src ="pictures_slider/slider_image_1.jpg"/>
				    		<div class="carousel-caption">
							    <h3>Exemple titre 1 <i class="fa fa-cog fa-spin"></i></h3>
							    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quisque rhoncus tincidunt venenatis. Nulla facilisi. Nullam.</p>
							</div>
				    </div>
				    <div class="item">
				    	<img src ="pictures_slider/slider_image_2.jpg"/>
				    	<div class="carousel-caption">
							    <h3>Exemple titre 2 <i class="fa fa-database"></i></h3>
							    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quisque rhoncus tincidunt venenatis. Nulla facilisi. Nullam.</p>
						</div>
				    </div>
				    <div class="item">
				    	<img src ="pictures_slider/slider_image_3.jpg"/>
				    	<div class="carousel-caption">
							    <h3>Exemple titre 3 <i class="fa fa-thumbs-o-up"></i></h3>
							    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quisque rhoncus tincidunt venenatis. Nulla facilisi. Nullam.</p>
						</div>
				    </div>
				    <div class="item">
				    	<img src ="pictures_slider/slider_image_4.jpg"/>
				    	<div class="carousel-caption">
							    <h3>Exemple titre 4 <i class="fa fa-child"></i></h3>
							    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quisque rhoncus tincidunt venenatis. Nulla facilisi. Nullam.</p>
						</div>
				    </div>
			    </div>
			    <!-- Carousel nav -->
			 
	   	    </div>
	
</template>
