<template name="index">
	<div class="login-block" style="margin: 0 auto; width : 100%; height: 100%;max-width: 100%;">
		<div id="myCarousel" class="carousel slide">
	   		<div class="test">
				<div id="ButtonsAccueil">
					<a href="{{pathFor 'login'}}">
						<paper-button raised class="greenButton">Connexion</paper-button>
					</a>
					<a href="{{pathFor 'register'}}">
						<paper-button raised class="white black-text">Inscription</paper-button>
					</a>
				</div>
		 	</div>
		    <!-- Carousel items -->
		    <div class="slider fullscreen">
		    	<ul class="slides">
				    <li>
				    	<img src ="pictures_slider/slider_image_1.jpg"/>
			    		<div class="caption center-align">
						    <h3>TrivaGolf</h3>
						    <h5 class="light grey-text text-lighten-3">L'application du golfeur de demain</h5>
						</div>
				    </li>
				    <li>
				    	<img src ="pictures_slider/slider_image_2.jpg"/>
				    	<div class="caption center-align">
						    <h3>Réseau Social</h3>
						    <h5 class="light grey-text text-lighten-3">Rejoignez une communautée de golfeur pasionnée. Un reseau d'amis pret a vous accompagner swinger.</h5>
						</div>
				    </li>
				    <li>
				    	<img src ="pictures_slider/slider_image_3.jpg"/>
				    	<div class="caption center-align">
						    <h3>Gestion de carte de score</h3>
						    <h5 class="light grey-text text-lighten-3">Remplisser votre carte de score en temps réel. Acceder a votre historique de parties.</h5>
						</div>
				    </li>
			    </ul>
		    </div>
		    <!-- Carousel nav -->
	    </div>
	</div>
</template>
