.link_menu
{
	color:white;
}
.link_menu:hover
{
	color:white;
	text-decoration: none;
}

.login-block {
	max-width: 300px;
	margin: 0 auto;

	.or {
		margin: 5px 0;
		text-align: center;
	}

	h3 {
		text-align: center;
	}
}

.loginForm
{
	position:relative;
    
    width: 100%;
    height: auto;
    margin : 0 auto; /* Cette valeur doit être la moitié négative de la valeur du width */
    
}

.test
{
		z-index: 15;
		position: absolute;
		width:350px;
		left:50%;
		margin-left : -175px;
		bottom:10%;

}

.spinner_div
{
	position: relative;
    top: 50%;
    width: 100px;
    height: 100px;
    margin: 0 auto;
}
.spinner_div paper-spinner
{
    width: 100px;
    height: 100px;
}
.carousel-inner
{
	height:100% !important;
	width:100% !important;
}
.item
{
	height:100% !important;
	width:100% !important;
}
.row
{
	height:100% !important;
	width:100% !important;
	padding: 0;
	margin: 0 auto;
}

.span4
{
	height:100% !important;
	width:100% !important;
	padding: 0;
	margin: 0 auto;
}

.slide
{
	height:100% !important;
	width:100% !important;
}


.carousel-caption
{
	bottom:50%;
	position: absolute;
}

.loginButtons
{
	text-align:center;

}
.loginButtons a
{
	
	margin: 10px;
}

.toolbar
{

		width:100%;
		margin: 0 auto;
}
.formContainer
{
	width: 100%;
	height: auto;
	margin: 0 auto;
}

.form
{
	
	position:relative;
    padding: 25px;
  	margin: 0 auto;

   
   
}
.left_header_panel
{
	width:150px;
	height:150px;
	padding:4px;
	margin: 0 auto;
    padding-top: 15px;
    padding-bottom:10px;
}

.niveau-div1
{
	height: 20px;
}
.niveau-div2
{

	height:20px;
	width:20px;
	
	border : 2px solid white;

	-webkit-border-radius: 100px;
	-moz-border-radius: 100px;
	border-radius: 100px;
	margin-left:-10px;
}

.niveau_numero
{
  font-size: 10px;
  position: absolute;
 
  margin-left: 4.5px;
  line-height: 18px;

}
.niveau
{
	height: 20px;
  	line-height: 18px;
}

.search_content_username
{
	font-size: 20px;
}
.search_content_level
{
	
	font-size: 12px;
}

.capitalize
{
	text-transform: lowercase;
	
	&:first-letter {
		text-transform: uppercase;
	}
}
#section {
        width: 100%;
        height: auto;
        
}
#paper_tabs {
 color: rgb(255, 255, 255);
 box-shadow: rgba(0, 0, 0, 0.2) 0px 3px 2px;
 background-color: #2ECC71;
 height: 40px;
}
#paper_tab {
 height: 40px;
 }
#paper_tab1 {
 height: 40px;
 }
#section1 {
        background-color: rgb(255, 255, 255);
}
.link_tab
{
	padding: 0 !important;
	text-align:center;
	line-height: 45px;
	color:white;
	text-decoration: none;
}
.link_tab:hover
{
	padding: 0 !important;
	text-align:center;
	line-height: 45px;
	color:white;
	text-decoration: none;
}

.link_tab:visited
{
	padding: 0 !important;
	text-align:center;
	line-height: 45px;
	color:white;
	text-decoration: none;
}

#google_map {
	height: 300px;
}

div.golfCard, div.golfCard > div.row > div.col.s4 {
	padding-left: 0 !important;
	min-height: 216px;
}
div.golfCard > div.row > div.col.s8 {
	top: 0;
	position: absolute;
}
a.infoLink {
	color: #2ECC71 !important;
}

#navheader{
	 height: 300px;
	 background-color: #A4D354 ;
}
.image_slider
{
	position:fixed;
    top:0;
    left:0;
    z-index:-1;
    width :100% !important;
    height:100% !important;
   
}
.avatar
{
	width :100%;
    height:100%;

}

img.golf-image
{
	height:100% !important;
	width:100% !important;
}

.stuffForm div
{
	
	padding : 20px;
}

ul.slides > li > div.caption > h3 {
	color: black;
	text-shadow: 0 0 5px white;
}
div.golf-page ul.collection {
	margin: 0;
}
div.golf-page div.slider {
	height: 400px;
}
div.golf-page a {
	color: #039be5;
	text-decoration: none;
}
div.golf-page a:hover {
	text-decoration: none;
}
