<template name="postItem">
 
  <ul class="timeline">
        <li>
          <div class="timeline-badge">{{date}}</div>
          <div class="timeline-panel">
            <div class="timeline-heading">
              <h4 class="timeline-title"><img src="http://www.gravatar.com/avatar/{{encrypted_mail}}" alt="" class="circle responsive-img" style='width:64px !important;height:64px !important;'><span style="margin-left:10px;">{{title}}</span><small style="margin-left:10px;font-size:12px;">{{subtitle}}</small></h4>
                <p><small class="text-muted"></small></p>
            </div>
            <div class="timeline-body">
              <p class="menu_blog_parent">{{{content}}}</p>
              
              <paper-menu-button >
                    <paper-icon-button icon="more-vert" class="menu_blog"></paper-icon-button>
                    <paper-dropdown class='dropdown' halign='right' valign='top'>
                      <core-menu class='menu'>
                       <paper-icon-button class= "bouton_blog comment" icon="question-answer" comment-id=".{{postID}}"></paper-icon-button>
                         <paper-icon-button class="bouton_blog like " icon="favorite" {{alreadyLike}} >
                   
                        </paper-icon-button>
                        {{#if isEvent}}<paper-icon-button class= "bouton_blog event" icon="event" comment-id=".{{postID}}"></paper-icon-button>{{/if}}
                      </core-menu>
                    </paper-dropdown>
                  </paper-menu-button>
                <div id="commentaire" class="commentClass {{postID}}">

                  <div class="col-xs-7 col-sm-8">
                    <paper-input-decorator floatingLabel label="Entrer votre commentaire ....">
                        <input id="{{postID}}" class="ci" type="text" />
                    </paper-input-decorator>
                  </div>
                  <div class="col-xs-1 col-sm-1">
                        <paper-icon-button  class="postComment" icon="send" post-id="#{{postID}}"></paper-icon-button>
                  </div><br>
                   {{> commentList}}
             
                 </div>
            </div>
          </div>
        </li>
</ul>
  
</template>
<template name="commentList">

   
                 <div class="comments-container">
                  {{#each listComments}}
                  <div class="col s12 m8 offset-m2 l6 offset-l3">
                  <div class="card-panel grey lighten-5 z-depth-1">
                    <div class="row valign-wrapper">
                      <div class="col s2">
                        <img src="http://gravatar.com/avatar/{{this.user.encryptedMail}}" alt="" class="circle responsive-img"> <!-- notice the "circle" class -->
                      </div>
                      <div class="col s10">
                        <span class="black-text">
                        <span class="username-comment">{{this.user.username}}<small> − {{commentDate}}</small></span><br>
                          <span class="user-comment">{{this.comment}}</span>
                        </span>
                      </div>
                    </div>
                  </div>
                </div>
            
            

                  {{/each}}
               </div>
    
</template>