<template name="postItem">
 
  <ul class="timeline">
        <li>
          <div class="timeline-badge">{{date}}</div>
          <div class="timeline-panel">
            <div class="timeline-heading">
              <h4 class="timeline-title"><img src="http://www.gravatar.com/avatar/{{encrypted_mail}}" alt="" class="circle responsive-img" style='width:64px !important;height:64px !important;'><span style="margin-left:10px;">{{title}}</span><small style="margin-left:10px;font-size:12px;">{{subtitle}}</small></h4>
              <p><small class="text-muted"></small></p>
            </div>
            <div class="timeline-body">
              <p>Le Lorem Ipsum est simplement du faux texte employé dans la composition et la mise en page avant impression. Le Lorem Ipsum est le faux texte standard de l'imprimerie depuis les années 1500, quand un peintre anonyme assembla ensemble des morceaux de texte pour réaliser un livre spécimen de polices de texte.</p>
              <div class="bouton_timeline-body" style="margin-top:25px;">
                <div class="row">

                    <div class="col-xs-2 col-sm-1"><a href='#' class="bouton_blog comment"><i class="fa fa-comments"></i></a></div>
                    <div class="col-xs-2 col-sm-1">

                    <paper-button primary raised class="bouton_blog like " {{alreadyLike}} >
                        <i class="fa fa-heart-o"></i>  + {{nombreLike}}
                    </paper-button>
                  
                    </div>
                    {{#if isEvent}}
                    <div class="col-xs-2 col-sm-1"><a href='#' class="bouton_blog joinevent"><i class="fa fa-gamepad"></i></a></div>{{/if}}
                </div>
              </div>
            </div>
          </div>
        </li>
</ul>
  
</template>