<template name="golfSearch">
	<div class="row">
	    <div class="col s12">
		    {{> esInput index="golfs" id="golfSearch" placeholder="Search..." }}

		    <p>
			{{#if results}}
	    		{{results}} résultat{{pluralize}}
	    	{{/if}}
	    	</p>

		    <ul class="row golfCards">
		        {{#esEach index="golfs" id="golfSearch"}}
		            {{> golfCard}}
		        {{/esEach}}
		    </ul>

		    {{> loadMoreButton index="golfs" id="golfSearch"}}

		    {{#ifEsHasNoResults index="golfs" id="golfSearch"}}
		        <div class="no-results">No results found!</div>
		    {{/ifEsHasNoResults}}

		    {{#ifEsIsSearching index="golfs" id="golfSearch"}}
		        <div>{{> loading}}</div>
		    {{/ifEsIsSearching}}
	    </div>
	</div>
</template>
