<template name="golfSearch">
	<div class="row">
	    <div class="col s12">
		    {{> esInput index="golfs" id="golfSearch" placeholder="Search..." }}
		    <div class="hidden">
		    	{{> esInput index="golfsNears" id="golfSearch2" placeholder="Yolo..." }}
		    </div>

			<div id="google_map">
				{{> googleMap name="map" options=mapOptions}}
			</div>

		    <p>
			{{#if results}}
	    		{{results}} résultat{{pluralize}}
	    	{{/if}}
	    	</p>

		    <ul class="row golfCards">
		        {{#esEach index="golfs" id="golfSearch"}}
		            {{> golfCard}}
		        {{/esEach}}

			    {{> loadMoreButton index="golfs" id="golfSearch"}}

			    {{#ifEsHasNoResults index="golfs" id="golfSearch"}}
			        <div >{{> resultsNotFound}}</div>
			    {{/ifEsHasNoResults}}

			    {{#ifEsIsSearching index="golfs" id="golfSearch"}}
			        <div>{{> loading}}</div>
			    {{/ifEsIsSearching}}
			    
		    	<div class="col s12 m8 offset-m2 l6 offset-l3">
			    	<h3>Golf le plus proche</h3>
		        </div>
		        {{#esEach index="golfsNears" id="golfSearch2"}}
		            {{> golfCard}}
		        {{/esEach}}
		    </ul>
	    </div>
	</div>
</template>
